<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jacob Kania</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://jacobkania.com/favicon.svg"
    />

    <link rel="stylesheet" href="/resources/common.css" />

    <style>
      .introduction {
        margin-bottom: 1rem;
      }

      .most-recent-posts-list {
        display: table;
        list-style-type: none;
        padding: 0;
      }

      .post-list-item-row {
        display: table-row;
        text-decoration: none;
        color: #202020;
      }

      .post-list-item-row > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0.15rem 0.5rem 0 0;
      }

      .item-date {
        font-family: monospace;
        width: 6rem;
      }

      @media (max-width: 900px) {
        .links {
          margin-left: 0;
          margin-right: 0;
        }
      }
    </style>

    <!-- Google Analytics (I'm sorry, just hoping to know how many visitors I'm getting!) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-89372613-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-89372613-2");
    </script>
  </head>
  <body class="page">
    <div class="container">
      <div class="header">
        <div class="name">
          <a href="{{.HomeURL}}">Jacob <span class="lastName">Kania</span></a>
        </div>
        <div class="links">
          <span class="link"
            ><a href="/about">About Me</a></span
          >
          <span class="link"
            ><a href="https://github.com/jacobkania">Github</a></span
          >
          <span class="link"
            ><a href="https://linkedin.com/in/jacobkania">LinkedIn</a></span
          >
        </div>
        <div class="content">
          <div class="introduction">
            Hey! I'm Jacob; a software engineer living in San Diego,
            CA. I write about things that I think are interesting, which tends
            to vary quite a bit! Naturally though, it's mostly about software.
            Thanks for stopping by!
          </div>
          <div class="most-recent-posts-list">
            {{range .Entries}}
            <a href="{{.URL}}" class="post-list-item-row">
              <div class="item-date">{{.Meta.PublishedDate}}</div>
              <div class="item-title">{{.Meta.Title}}</div>
            </a>
            {{end}}
          </div>
          <div class="conclusion" id="conclusion">© Jacob Kania</div>
        </div>
      </div>
    </div>
  </body>
</html>
